-e .
coverage==7.16.0
ty==0.0.77
pdoc==16.0.0
pip==26.2.1
pre-commit==4.6.2
pytest-cov==7.1.0
pytest==9.1.1
ruff==0.16.5


json5==0.15.0
GitPython==3.1.61
mashumaro==3.22
pytest-asyncio==1.4.0
PyGithub==2.10.0
PyYAML==6.0.3
types-PyYAML==6.0.12.20260815
yamllint==1.38.0
scruft==0.2.1
