-e .
black==25.9.0
coverage==7.10.7
mypy==1.18.2
pdoc==15.0.4
pip==25.2
pre-commit==4.3.0
pytest-cov==6.3.0
pytest==8.4.2
ruff==0.13.3


json5==0.12.1
GitPython==3.1.45
mashumaro==3.16
pytest-asyncio==1.2.0
PyGithub==2.8.1
PyYAML==6.0.3
types-PyYAML==6.0.12.20250915
yamllint==1.37.1
scruft==0.1.1
