-e .
black==25.1.0
coverage==7.10.2
mypy==1.17.1
pdoc==15.0.4
pip==25.2
pre-commit==4.2.0
pytest-cov==6.2.1
pytest==8.4.1
ruff==0.12.8


json5==0.12.0
GitPython==3.1.45
mashumaro==3.16
pytest-asyncio==1.1.0
PyGithub==2.7.0
PyYAML==6.0.2
types-PyYAML==6.0.12.20250809
yamllint==1.37.1
scruft==0.1.1
